<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

<context:component-scan base-package="com.fhlxc.spring"/>
    <bean id="CleanAir" class="com.fhlxc.spring.ioc.CleanAir">
        <qualifier value="cleanair"></qualifier>
    </bean>
    <bean id="DirtyAir" class="com.fhlxc.spring.ioc.DirtyAir">
        <qualifier value="dirtyair"></qualifier>
    </bean>
    <bean id="person" class="com.fhlxc.spring.ioc.Person"/>
    <bean id="annontationInstance" class="com.fhlxc.spring.beanfactorydemo.AnnontationInstance"></bean>
    <bean id="user" class="com.fhlxc.spring.beanfactorydemo.UserBean" destroy-method="myDestroy" init-method="myInit">
        <property name="name" value="abc"></property>
    </bean>
    <bean id="postProcessor" class="com.fhlxc.spring.beanfactorydemo.CusBeanPostProcessor"></bean>
    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.fhlxc.spring.beanfactorydemo.CustomerProperty"/>
            </map>
        </property>
    </bean>
    <bean id="xmlCollectionsDemo" class="com.fhlxc.spring.beanfactorydemo.XmlCollectionsDemo">
        <property name="list">
            <list>
                <value>1</value>
                <ref bean="CleanAir"/>
                <bean class="com.fhlxc.spring.ioc.CleanAir"></bean>
            </list>
        </property>
        <property name="sets">
            <set>
                <value>1</value>
                <ref bean="CleanAir"/>
                <bean class="com.fhlxc.spring.ioc.CleanAir"></bean>
            </set>
        </property>
        <property name="maps">
            <map>
                <entry key="key1" value="1"></entry>
                <entry key="key2" value-ref="CleanAir"></entry>
                <entry key="key3">
                    <bean class="com.fhlxc.spring.ioc.CleanAir"></bean>
                </entry>
            </map>
        </property>
        <property name="pros">
            <props>
                <prop key="prokey1">prokeyA</prop>
                <prop key="prokey2">prokeyB</prop>
            </props>
        </property>
        <property name="date" value="2020-1-23"></property>
    </bean>
</beans>
